.global {
  max-width: 750px;
  margin: 30px auto;
}
.container {
  display: block;
  top: -10px;
  padding: 15px 60px;
  border-radius: 20px;
  background: linear-gradient(
    185deg,
    rgba(245, 239, 239, 0.6222864145658263) 51%,
    rgba(254, 173, 166, 1) 82%
  );
  font-family: "Lato", sans-serif;
  margin-top: 30px;
  padding-bottom: 35px;
}

.form-control {
  position: relative;
  right: 17px;
  display: block;
  width: 107%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  position: relative;
  display: block;
  color: #fff;

  padding: 6px 18px;
}
.temperature {
  padding-right: 0;
  text-align: end;
}

.current {
  left: 10px;
  background-color: #dc3545;
  border-color: #dc3545;
}
.current:hover {
  background-color: #ff467e;
  border-color: #dc3545;
}
.search {
  background-color: #ff467e;
  border-color: #f12b6b;
  left: 12px;
}

.search:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #ff467e;
}

.row3,
.row4,
.row5 {
  line-height: 33px;
}

.search-city {
  padding: 20px;
}

#city {
  font-size: 54px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

.current-date {
  color: #685454;
  font-weight: 500;
}
.block-days {
  box-shadow: 18px 14px 10px rgba(254, 173, 166, 0.2);
  border: solid 1px #685454;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  transition: 1s box-shadow;
}
.unit {
  position: relative;
  font-size: 20px;
  margin-top: 20px;
  bottom: -13px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
a {
  font-weight: 600;
  color: #f12b6b;
  text-decoration: none;
}

a:hover {
  color: #ff89ad;
}

.day {
  font-size: 23px;
}
.date {
  font-size: 18px;
  font-weight: 300;
  color: #685454;
}
.row-day {
  padding: 10px;
}
.temperature {
  font-weight: lighter 300px;
  font-size: 75px;
  font-weight: 300;
  color: black;
  position: relative;
  bottom: 10px;
}
.current-time {
  font-size: 60px;
  font-weight: 300;
}

#description,
#city {
  text-transform: capitalize;
}

#github-Link {
  color: #f12b6b;
  line-height: 38px;
  margin-left: 15px;
}
#opensource:hover {
  color: #ff89ad;
}
#opensource {
  color: #f12b6b;
  opacity: 1;
}
.day-forecast {
  padding-top: 14px;
}
.temperature-forecast {
  padding-top: 14px;
  font-size: 21px;
  text-align: center;
}
.minimum-temperature {
  opacity: 0.5;
}
.image-forecast {
  text-align: center;
}
